.timer {
  font-size: 20px;
  color: white;
  padding: 15px 15px 5px;
  position: sticky;
  top: 0;
  background-color: #081229;
  z-index: 1;
  .result {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
  }
  .timer-text {
    font-size: 16px;
  }
}
