@import "src/style/variables.scss";
@import "~video-react/styles/scss/video-react";
body {
  background-color: $background !important;
}
.escape-app-main-wrapper {
  margin: 0 auto;
  padding: 0 15px 40px;
  min-height: 100vh; // Make sure body takes 100% of the viewport height

  display: flex;
  //align-items: center;
  justify-content: center;
  color: $text;
  position: relative;
  max-width: 600px;

  .text {
    max-width: 600px;
    padding: 20px 15px;
    text-align: left;
  }
  .bike-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .fade-out {
    opacity: 0;
    transition: opacity 5s ease;
  }
  .fade-in {
    animation: fade-in 5s ease;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .welcome-player-button {
    margin-top: 100px;
    button.play {
      display: none;
    }
  }
  .welcome-start-button {
    padding-top: 20px;
  }
  .players-component-form {
    padding-top: 150px;
  }
  .centered {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wheel-step {
    .text {
      text-align: center;
    }
  }
}
