@import "src/style/variables.scss";
@import "~video-react/styles/scss/video-react";
body {
  background-color: $background !important;
}
.escape-app-main-wrapper {
  margin: 0 auto;
  padding: 40px 15px;
  min-height: 100vh; // Make sure body takes 100% of the viewport height

  display: flex;
  //align-items: center;
  justify-content: center;
  color: $text;
  position: relative;
  max-width: 600px;
  .border {
    height: 1px;
    border-bottom: 1px solid $medium-blue;
    margin-bottom: 20px;
  }
  .right {
    text-align: right;
  }
  .left {
    text-align: left;
  }
  .text {
    max-width: 600px;
    padding: 20px 15px;
    text-align: left;
  }
  .bike-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    svg {
      max-width: 400px;
    }
  }

  .fade-out {
    opacity: 0;
    transition: opacity 5s ease;
  }
  .fade-in {
    animation: fade-in 5s ease;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  // .welcome-wrapper {
  //   .text {
  //     //background-image: url("../../public/shared/introduction.jpeg");
  //   }
  // }
  .welcome-player-button {
    margin-top: 100px;
    button.play {
      display: none;
    }
  }
  .welcome-start-button {
    padding-top: 20px;
  }
  .players-component-form {
    padding-top: 150px;
  }
  .centered {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wheel-step {
    .text {
      text-align: center;
    }
  }
}

.answer-input-wrapper {
  position: relative;
  margin: 20px 0;
  .right-answer-animation {
    width: 50px;
    position: absolute;
    right: 5px;
    top: 40px;
  }
  .clues-wrapper {
    display: flex;
    justify-content: end;
    div {
      cursor: pointer;
      margin: 0 7px;
    }
  }
  .clue-item-wrapper {
    padding-top: 20px;
  }
}
.puzzle-wrapper {
  text-align: left;
  padding: 18px;
  .puzzle-image {
    img {
      width: 100%;
    }
  }
}
.css-1r9rm7v-MuiFormControl-root-MuiTextField-root {
  .MuiOutlinedInput-root {
    border-color: #55e1fb !important;
    color: #55e1fb !important;
    fieldset {
      border-color: #55e1fb !important;
    }
    .MuiInputBase-input {
      color: #55e1fb !important;
    }
    .MuiOutlinedInput-root fieldset {
      border-color: #55e1fb !important;
    }
    .MuiInputLabel-root {
      color: #55e1fb !important;
    }
  }

  .MuiInputLabel-root {
    color: #55e1fb !important;
  }
}
